:root {
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: crimson;
}

body,
html {
  margin: 5;
  min-width: 320px;
  min-height: 100vh;
  background-color: black;
  color: white;
  height: 100%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.title-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  align-content: space-evenly;
  text-align: center;
  background-color: black;
}

nav li {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav-item {
  display: block;
  color: white;
}

.nav-item a:hover {
  color: crimson;
  text-decoration: none;
}
a:hover {
  color: crimson;
}

nav-link a:hover {
  color: crimson;
}

.nav {
  background-color: black;
}

.NavBar {
  display: flex;
  background-color: black;
  text-align: left;
  align-content: space-between;
  margin-right: 25px;
}
